.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 0;
  background-color: #FFB000;
  z-index: 10;
}

.title {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin-right: 4px;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.label {
  display: inline;
  color: #fff;
}

.signIn {
  flex-shrink: 0;
  display: inline-flex;
  padding: 0 12px 0 24px;
}

.searchBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
  z-index: 5;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4px;
}

.searchInput {
  flex-grow: 1;
  width: 60%;
  height: 40px;
  padding: 0 6px;
  border: 0;
  font-size: 18px;
  box-sizing: border-box;
}

.searchInput:active,
.searchInput:focus {
  outline: 0;
}

.searchButton {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  border: 0;
  color: #FFB000;
  background-color: #fff;
  box-sizing: border-box;
}

.searchButton:active,
.searchInput:focus {
  outline: 0;
}
